In [1]:
import pandas as pd
import numpy as np
print(" imported sucessfully")

 imported sucessfully

In [2]:
df=pd.read_csv("E:\\6th semmmm\\7th sems\\k means algorithms\\student_clustering.csv")
df.head()

   cgpa   iq
0  5.13   88
1  5.90  113
2  8.36   93
3  8.27   97
4  5.45  110

In [3]:
from sklearn.cluster import KMeans
print(" import library sucessfully")

C:\ProgramData\Anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

 import library sucessfully

In [5]:
wcss = []

kmeans = KMeans(n_clusters=1, random_state=42)
#kmeans.fit_predict(df)
wcss.append(kmeans.inertia_)
print(" append sucessfully ")

AttributeError: 'KMeans' object has no attribute 'inertia_'

In [6]:
wcss = []
for i in range(1, 11):
    try:
        kmeans = KMeans(n_clusters=i, random_state=42)
        kmeans.fit(df)
        wcss.append(kmeans.inertia_)
    except Exception as e:
        print(f"An error occurred for n_clusters={i}: {e}")

An error occurred for n_clusters=1: 'NoneType' object has no attribute 'split'

In [7]:
df.head()

   cgpa   iq
0  5.13   88
1  5.90  113
2  8.36   93
3  8.27   97
4  5.45  110